<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookmark">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMark"
        tools:replace="android:theme">
        <activity android:name=".cart_management.ConfirmFinalOrderActivity"></activity>
        <activity android:name=".category_management.ItemDetails" />
        <activity android:name=".category_management.AddProduct">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".category_management.DisplayBooks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".category_management.EditBook">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".product_review.ReviewActivity" />
        <activity android:name=".cart_management.CartActivity" />
        <activity android:name=".user_management.UserActivity" />
        <activity android:name=".payment_management.PaymentActivity" />
        <activity android:name=".order_management.OrderActivity" />
        <activity android:name=".listing_management.ListingActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>